<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" -->
    <!-- android:maxSdkVersion="32" -->
    <!-- tools:ignore="ScopedStorage" /> -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" -->
    <!-- android:maxSdkVersion="32" /> -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SotMAsia2024"
        tools:targetApi="31">
        <activity
            android:theme="@style/Theme.AudioRecorder"
            android:name=".AudioActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".land.ParabolaActivity"
            android:exported="false"
            android:parentActivityName=".LandActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandActivity" />
        </activity>
        <activity
            android:name=".land.AccurateLandCalculationActivity"
            android:exported="false"
            android:parentActivityName=".LandActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandActivity" />
        </activity>
        <activity
            android:name=".land.MultipleTrianglesActivity"
            android:exported="false"
            android:parentActivityName=".LandActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandActivity" />
        </activity>
        <activity
            android:name=".land.UnitChangeActivity"
            android:exported="false"
            android:parentActivityName=".LandActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandActivity" />
        </activity>
        <activity
            android:name=".land.KhatianCalculatorActivity"
            android:exported="false"
            android:parentActivityName=".LandActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandActivity" />
        </activity>
        <activity
            android:name=".land.DistributionoflandActivity"
            android:exported="false"
            android:parentActivityName=".LandActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandActivity" />
        </activity>
        <activity
            android:name=".land.EllipseActivity"
            android:exported="false"
            android:parentActivityName=".LandActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandActivity" />
        </activity>
        <activity
            android:name=".land.CcircleActivity"
            android:exported="false"
            android:parentActivityName=".LandActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandActivity" />
        </activity>
        <activity
            android:name=".land.RighttriangleActivity"
            android:exported="false"
            android:parentActivityName=".LandActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandActivity" />
        </activity>
        <activity
            android:name=".land.HeronsRuleActivity"
            android:exported="false"
            android:parentActivityName=".LandActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandActivity" />
        </activity>
        <activity
            android:name=".land.CosineRuleActivity"
            android:exported="false"
            android:parentActivityName=".LandActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandActivity" />
        </activity>
        <activity
            android:name=".land.TrapeziumActivity"
            android:exported="false"
            android:parentActivityName=".LandActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandActivity" />
        </activity>
        <activity
            android:name=".land.ParellelogramActivity"
            android:exported="false"
            android:parentActivityName=".LandActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandActivity" />
        </activity>
        <activity
            android:name=".land.SquareActivity"
            android:exported="false"
            android:parentActivityName=".LandActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandActivity" />
        </activity>
        <activity
            android:name=".land.CircleActivity"
            android:exported="false"
            android:parentActivityName=".LandActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandActivity" />
        </activity>
        <activity
            android:name=".land.OblongActivity"
            android:exported="false"
            android:parentActivityName=".LandActivity"
            android:theme="@style/Theme.SotMAsia2024.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LandActivity" />
        </activity>
        <activity
            android:name=".CompassActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.App.NoActionBar" />
        <activity
            android:name=".GenarelActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.SotMAsia2024.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SoilActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.SotMAsia2024.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RodActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.SotMAsia2024.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".TimberActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.SotMAsia2024.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".GoldActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.SotMAsia2024.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SotMAsia2024">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LandActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.SotMAsia2024.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".BasicalculatorActivity"
            android:exported="false"
            android:label="@string/title_activity_basicalculator"
            android:theme="@style/Theme.SotMAsia2024" />
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.SotMAsia2024.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.SotMAsia2024.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.SotMAsia2024.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>